[mysql]
# Storage Egine
default_storage_engine      = InnoDB
innodb_file_per_table       = ON

# Memory (ajustado pra contenedor de 512MB-1GB RAM)
innodb_buffer_pool_size     = 128M
innodb_log_buffewr_size     = 8M
tmp_table_size              = 32M
max_heap_table_size         = 32M

# Logging
slow_query_log              = ON
slow_query_log_file         = /var/log/mysql/slow.log
long_query_time             = 0.5
log_error                   = /var/log/mysql/error.log

# Binary log
log_bin                     = /var/log/mysql/binlog
binlog_format               = ROW
expire_logs_days            = 3

# Charset
character_set_server        = utf8mb4
collation_server            = utf8mb4_unicode_ci

# Conexiones
max_connections             = 50
wait_timeout                = 300